* {
    margin: 0%;
    padding: 0%;
  }

  :root {
    --primary-color: #FF6924;
    --secondary-color: #010148;
    --text-color: #808080;
    --background-color: #FF8D00;
  }
  #header-bg {
    background-color: #5fa232;
  }
  
  .login-text:hover {
    background-color: #50882a;
    padding: 14px 12px;
    transition: 0.8s;
  }
  
  .top-icons .icon {
    background-color: #afd199;
  }
  
  .top-icons .icon:hover {
    background-color: #ffffff;
    transition: 0.7s;
  }
  
  /* Navbar styling */
  
  .hero-logo{
    width: 12%;
  }
  
  .nav-links a:hover {
    border-bottom: 2px solid #5fa232;
  }
  
  
  .header-style{
      margin: 0% 10%;
  } 
  
  .bg-image {
    background-image: url(../images/bg-image-1.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 90vh;
    width: auto;
  }
  
  #hero-heading {
    margin-top: 10%;
  }
  
  #organic {
    color: #ff6924;
  }
  
  .btns button {
    background-color: #ff6924;
    border: none;
  }
  
  .btns button:hover {
    background-color: #5fa232;
    transition: 0.7s;
  }
  
  .btns .about-btn {
    background: none;
    border: 2px solid #ff6924;
  }
  

  /*first cards section */

.top-heading h1 span{
color: var(--primary-color);
}
.top-heading p{
  color: var(--text-color);
}

.top-heading h1{
  color: var(--secondary-color);

  
}


.bg-img-2{
  background-image: url(../images/bg-image-2.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: auto;
}

  .card-img-top {
    width: 100px;
    margin: 20px auto;
}

.card-title{
  color: var(--secondary-color);
}

.first-cards p{
color: var(--text-color);
}


.card-btn{
  background: none;
  border: 2px solid var(--background-color);
  color: var(--secondary-color);
}

.card-btn:hover{
  background-color: var(--primary-color);
  color: #fff;
  transform: scale(1.05); 
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.first-cards:hover {
  transform: scale(1.05); 
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

.erro{
  border: 2px solid var(--primary-color);
}

/* fruit-section */

.fruit-section h5{
color: var(--secondary-color);
}

.fruit-section:hover{
  border: 2px solid var(--primary-color);
  transform: scale(1.05); 
  transition: transform 0.3s ease, background-color 0.3s ease;
  cursor: pointer;
}

/* bg-image-2  */


.bg-image-3 {       
  background-image: url(../images/bg-image-2.jpg);
  background-size: cover; 
  background-repeat: no-repeat; 
  height: 40vh; 
  width: 100%; 
}

.organic-heading {
  margin-top: 5%;
}

.organic-heading span {
  color: #9F4921;
}

.organic-heading button {
  background-color: #5FA232;
}

/* Products Buttons */

.buttons button{
  background: none;
}
.buttons button.btn{
  background-color: #5FA232;
}

.buttons button:hover{
  background-color:#5FA232 ;
  color: #fff;
}



/* cards */

.card {
  transition: transform 0.3s ease;
}
.card:hover {
  transform: translateY(-10px);
}
.old-price {
  text-decoration: line-through;
  color: red;
}
.new-price {
  color: orange;
  font-weight: bold;
}
.product-title {
  font-weight: bold;
  color: #01145d;
}


.card {
  transition: transform 0.3s ease;
}

.card-footer button :hover{
  transform: translateY(-5px);
}
.card:hover {
  transform: translateY(-5px);
}

.add-to-cart {
  display: none;
}
.card:hover .add-to-cart {
  display: inline-block;

}

/* background image 3*/

.bg-amazing{
  background-image: url(../images/bg-image-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
}

.deals-text{
 margin-top: 120px;
}

.deals-text h1 span{
  color: var(--primary-color);
}

.deals-text button{
  background-color: var(--primary-color);
  border: 3px dashed #5D5F61;
}

/* background-img-4 */


.background-img-4{
  background-image: url(../images/background-image-4.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 70vh;
  background-color: #F4F4F5;
}

.ceo-name{
  color: var(--secondary-color);
}

.span-text{
  color: var(--primary-color);
}

.small-icon{
  margin-left: 250px;
  color: var(--primary-color);
}
